In [11]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

In [12]:
%matplotlib inline

sns.set(
    rc={
        "figure.figsize": (10, 10)
    }
)

sns.set_style("whitegrid")

## Python

In [13]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    type(None),
    # None / 2, Error
    sep= '\n'
)

True
False
True
True
<class 'NoneType'>

## Numpy

In [14]:
print(
    np.nan or True,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2,
    type(np.nan),
    np.isnan(np.nan),
    sep='\n'
)

nan
False
True
nan
<class 'float'>
True

## Pandas

In [15]:
test_missing_df = pd.DataFrame.from_dict(
    data=dict(
        x=[0, 1, np.nan, np.nan, None],
        y=[0, 1, pd.NA, np.nan, None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [16]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [17]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [18]:
pd.Series([pd.to_datetime('2023-03-31'), np.nan])

0   2023-03-31
1          NaT
dtype: datetime64[ns]

In [19]:
pd.Series([-1]).isnull()

0    False
dtype: bool

## Load Files

In [20]:
pima_indians_diabetes_url = "https://nrvis.com/data/mldata/pima-indians-diabetes.csv"

In [31]:
!wget -O ../data/raw/pima-indians-diabetes.csv { pima_indians_diabetes_url } -q

In [35]:
diabetes_df = pd.read_csv(
    '../data/raw/pima-indians-diabetes.csv',
    names =[
        "pregnancies",
        "glucose",
        "blood_pressure",
        "skin_thickness",
        "insulin",
        "bmi",
        "diabetes_pedigree_function",
        "age",
        "outcome",
    ],
    sep=','
)

In [36]:
diabetes_df

,pregnancies,glucose,blood_pressure,skin_thickness,insulin,bmi,diabetes_pedigree_function,age,outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Naniar

In [37]:
base_url = "https://github.com/njtierney/naniar/raw/master/data/"
datasets_names = ("oceanbuoys", "pedestrian", "riskfactors")
extension = ".rda"

In [38]:
datasets_dfs = {}

for dataset_name in datasets_names:

    dataset_file = f"{ dataset_name }{ extension }"
    dataset_output_file = f"../data/raw{ dataset_file }"
    dataset_url = f"{ base_url }{ dataset_file }"
    
    !wget -q -O { dataset_output_file } { dataset_url }

    datasets_dfs[f"{ dataset_name }_df"] = pyreadr.read_r(dataset_output_file).get(dataset_name)

datasets_dfs.keys()

dict_keys(['oceanbuoys_df', 'pedestrian_df', 'riskfactors_df'])

In [39]:
locals().update(**datasets_dfs)
del datasets_dfs

In [40]:
oceanbuoys_df.shape, pedestrian_df.shape, riskfactors_df.shape, diabetes_df.shape

((736, 8), (37700, 9), (245, 34), (768, 9))

In [41]:
riskfactors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             245 non-null    category
 1   sex               245 non-null    category
 2   age               245 non-null    int32
 3   weight_lbs        235 non-null    object
 4   height_inch       243 non-null    object
 5   bmi               234 non-null    float64
 6   marital           244 non-null    category
 7   pregnant          30 non-null     category
 8   children          245 non-null    int32
 9   education         244 non-null    category
 10  employment        245 non-null    category
 11  income            245 non-null    category
 12  veteran           242 non-null    category
 13  hispanic          243 non-null    category
 14  health_general    245 non-null    category
 15  health_physical   245 non-null    int32
 16  health_mental     245 non-null    int32
 17  health_poor       132 non-null    object
 18  health_cover      245 non-null    category
 19  provide_care      242 non-null    category
 20  activity_limited  242 non-null    category
 21  drink_any         243 non-null    category
 22  drink_days        111 non-null    object
 23  drink_average     110 non-null    object
 24  smoke_100         243 non-null    category
 25  smoke_days        117 non-null    category
 26  smoke_stop        33 non-null     category
 27  smoke_last        84 non-null     category
 28  diet_fruit        237 non-null    object
 29  diet_salad        237 non-null    object
 30  diet_potato       237 non-null    object
 31  diet_carrot       237 non-null    object
 32  diet_vegetable    237 non-null    object
 33  diet_juice        237 non-null    object
dtypes: category(18), float64(1), int32(4), object(11)
memory usage: 36.7+ KB